@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,400;6..12,500&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Ubuntu&display=swap');

*{
  font-family: "Poppins", sans-serif;
}


body {
    background-color: whitesmoke;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 14px;
    font-weight: 400;
}

.container {
    display: flex;
    background-color: whitesmoke;

}

.divInfo {
    background-color: rgb(255, 255, 255);
    width: 20%;
    height: 100vh;
    background-color: #fff;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.identidade {
    display: flex;
    align-items: center;
}

.logo {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.logo-text {
    font-size: 24px;
    margin-left: 15px;
}

.vantagens {
    width: 100%;
    margin-left: 50px;
    margin-top: 70px;
}

.vantagem {
    display: flex;
    align-items: center;
  
}

.vantagem img {
    width: 40px;
    height: 40px;
    margin-right: 15px;
}

.vantagem span {
    font-size: 18px;
}

.login {
    background-color: whitesmoke;

    /* padding: 30px; */
    /* flex-grow: 1; Ajuste para ocupar o espaço restante */
    padding-top: 70px;
}


.inputs {
    background-color: rgb(255, 255, 255);
    padding: 10px;
    border-radius: 5%;
    width: 540px;
    margin-left: 276px;
    height: 500px;
    font-size: 18px;
    
}

.h1{
     padding-top: 25px;
    font-size: 20px;
    margin-top: 10px; 
    margin-bottom: 5px; 
    font-weight: 480;
    font-family: "Poppins", sans-serif;
    text-align: center;

}
.inputsFilhos h1 {
text-align: justify 25px;
}


.inputsFilhos input {
    background-color: #548d3d81;
    width: 480px;
    height: 38px;
    border: #548d3d solid 3px;
    
}

::placeholder {
    color: #ffffff;
    padding-left: 10px;
    font-size: medium;
}
.inputsFilhos {
    margin-left: 25px;
    margin-top: 25px;
}
.button {
    /* text-align: center; */
    margin-left: 150px;

}

.button button {
    padding: 10px 20px;
    background-color: #548d3d;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    /* font-weight: bold; */
    width: 250px;
    height: 50px;
    font-size: 18px;
}


button:hover {
    background-color: #5ca340;
    transition: all 0.5s;
  }

.userNovo {

    padding-top: 5px;
    margin-left: 163px;
}

a{
    color: #548D3D;
    font-weight: 300;
    text-decoration: none;
  }
  
  
  a:hover{
    color: #548D3D;
    font-weight: 500;
    transition: all 0.3s;
  }