body{
    margin: 0;
}

.header{
    background-color: #2C591A;
    padding-top: 1px;
    display: flexbox;
    align-items: center;
    justify-items: center;
    height: 7%;
}
/* css da barra de navegação*/
nav ul a{
    color: #f5f5f5;
    text-decoration: none;
}

.ul_links{
    justify-content: space-evenly;
    list-style: none;
    display: flex;
    
}
nav ul a:hover {
    color: #9EE482 ;
    font-weight: bold;
    transition: all .3s ease-out;
}
.li_img{
    box-sizing: border-box;
    border-radius: 100%;
    width: 20px;
    height: 20px;
    
}
li{
    display: inline-block;
    
}



/*editando as sections*/
.section_inicial{
    color: #000000;
    height: 90vh;
    display:flex;
    align-items: center;
    justify-content: center;
    
    
}
.section_inicial2{
    color: #000000;
    height: 90vh;
    display:flex;
    align-items: center;
    justify-content: flex-end;
    background-color: #4cbe23;
}
.img_escama{    
    box-sizing: border-box;
    position: absolute;
    width: 600px;
    height: 600px;
}

.section_porque_escolher{  
    color: #000000;
    height: 90vh;
    display:flex;
    align-items: center;
    justify-content: flex-end;
    background-color: #719067;
    
}
.section_planos{
    color: #000000;
    height: 90vh;
    display:flex;
    align-items: center;
    justify-content: flex-end;
    background-color: #9db0e9;
}
.section_perguntas_frequentes{ 
    
    color: #000000;
    height: 90vh;
    display:flex;
    align-items: end;
    padding-top: 20% ;
    background-color: aqua;
}

/*editando os textos com textos 685.8px*/
.div_texto_inicial{
    text-align: justify;
    justify-content: center;
    
}
.div_texto_inicial2{
    width: 100px;
    text-align: justify;
    justify-content: flex-end;
    position: relative;
    
    z-index: 1;
}
.div_texto_porque_escolher{
    width: 90vh;
    text-align: center;
    justify-content: center;
    position: relative;
    z-index: 1;
    
}
.div_img img{
    scale: 65%;
    }

    .div_imgs{
        display: flex;
        justify-content: center;
        align-items: center;
        justify-content: space-around;
        flex-direction: row;
        
        
    }
    
/*pra fazer a sobreposicao do texto na imagem*/
.img_triangulo{
    box-sizing: border-box;
    position: absolute;
    width: 194vh;
    height: 70vh;
}


/* editando o footer*/
.footer{
    width: 100%;
    height: 200px;
    background-color: #9EE482;
}



/*


}*/