@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;600&display=swap');
*{
    box-sizing: border-box;
}

body{
    font-family: 'Montserrat', sans-serif;
    background:white;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height:100vH;
    margin: -20px 0 50px;
    transition:  580ms ease-in;
}

/* criando circulos  */
body:before{
    content:'';
    position: absolute;
    top: 0;
    left:0;
    width: 100%;
    height: 100%;
background: linear-gradient(164deg, #036753 24%, #0c8e39 91%);
    clip-path: circle(30% at right 70%);
}

  body::after{
    content:'';
    position: absolute;
    top: 0;
    left:0;
    width: 100%;
    height: 100%;
    background: #036753;
    background: linear-gradient(164deg, #0c8e39 5%, #036753 95%);
    clip-path: circle(20% at 10% 10%);
}

/* estilizando todos os titulos */
h2{
    font-weight: bold;
    margin: 0;
}

.tituloInform{
    font-size: 24px;
}

.tituloForm1, .tituloForm2{
    color: #036753;
}

/* estilizando textos */

.texto2{
    font-size:14px;
    font-weight: 300;
    line-height: 20px;
    letter-spacing: 0.5px;
    margin: 20px 0 30px;;
}

.texto{
    font-size: 13px;
    color:black;
    font-weight: 300;
}

/* estilizando esqueci a senha */
a{
    color:#036753;
    font-size: 18x;
    text-decoration: none;
    margin:15px 0;
}

.container{
    position: relative;
    background:rgba(255,255,255,0.1);
    box-shadow: 20px 20px 50px rgba(0,0,0,0.5);
    border-radius:15px;
    overflow: hidden;
    width: 768px;
    max-width: 100%;
    min-height: 480px;
    
}

/* estilizando content da direita (login) e da esquerda (cadastro) */
.content1 form {
    background: rgba(255,255,255,0.1);
    border-top: 1px solid rgba(255,255,255,0.1);
    border-left: 1px solid rgba(255,255,255,0.1);
    backdrop-filter: blur(5px);
    display: flex;
    flex-direction: column;
    padding: 0 50px;
    height: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.socialMedia{
    margin: 15px 0 ;
}

.socialMedia img{
    border-radius: 50%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin: 0 5px;
    height:40px;
    width:40px;
    transition: all 580ms ease-in-out;
    border:  1px solid white;
}

.socialMedia img:hover{
    transition: all 580ms ease-in-out;
    box-shadow: 5px 5px 5px rgba(0,0,0,0.5);
    border:  1px solid white;
    color: white;
}

/* estilizando label e input */

form input{
    height:40px;
    width:100%;
    border: none;
    background-color: #ecf0f1;
}

input{
    border-radius: 5px;
    outline: 0;
    margin-left: 5px; 
    /* essa margin é aplicada dentro da input, colocando um espaço na frente do texto */
}

.label-input{
    background-color:#ecf0f1;
    display: flex;
    align-items: center;
    margin: 8px;
    border-radius: 10px;
    padding: 2px;
}

 /* estilizando btn 1 e 2 */
button{
    border-radius: 18px;
    border: 1px solid #036753;
    background:  #036753;
    font-weight: bold;
    padding: 13px 42px;
    letter-spacing: 1PX;
    text-transform: uppercase;
    transition:  580ms ease-in;
    color:white;
    cursor:pointer;
    margin-top: 5px;
}

button:hover { 
  transition: all 580ms ease-in-out;
  box-shadow: 4px 4px 4px 2px rgba(0,0,0,0.5);
  background: #0c8e39;
  color:white;
  border:#0c8e39;
}

.btn2{
    background: white;
    color: #036753;
    border: #036753;
    transition: all 580ms ease-in-out;
}

.btn2:hover{
    background: rgb(241, 241, 241);
    color: #0c8e39;
    transition: all 580ms ease-in-out;
    box-shadow: 4px 4px 4px 2px rgba(0,0,0,0.5);
}


.content1{
    position: absolute;
    top:0;
    height:100%;
    transition: all 0.6s ease-in-out;
}

.sign-in-container{
    left:0;
    width:50%;
    z-index: 2;
}
.sign-up-container{
    left:0;
    width:50%;
    opacity: 0;
    z-index: 1;
}
.overlay-container{
    position: absolute;
    top:0;
    left: 50%;
    width: 50%;
    height:100%;
    overflow: hidden;
    transition: transform 0.6s ease-in-out;
    z-index: 100;
}
.overlay{
    background: #036753; 

color:white;
position: relative;
left: -100%;
height:100%;
width: 200%;
transform: translateX(0);
transition: transform 0.6s ease-in-out;
transition:  580ms ease-in;
}

.content2{
    position:absolute;
    top: 0;
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    padding: 0 40px;
    height: 100%;
    width: 50%;
    text-align: center;
    transform: translateX(0);
    transition: transform 0.6s ease-in-out
}

/* criando animação */
.contentDir{
    right: 0;
    transform: translateX(0);

}
.contentEsq{
    transform: translateX(-20%);
    
}
.container.right-panel-active .contentDir {
	transform: translateX(20%);
}
.container.right-panel-active .contentEsq {
	transform: translateX(0%);
}

.container.right-panel-active .sign-in-container {
	transform: translateX(100%);
    opacity: 0;
}
.container.right-panel-active .sign-up-container {
	transform: translateX(100%);
	opacity: 1;
	z-index: 5;
	animation: show 0.6s;
}
.container.right-panel-active .overlay-container{
	transform: translateX(-100%);
}
.container.right-panel-active .overlay {
    transform: translateX(50%);
}

    