    /* css para body  */
    body {
        color: #2C591A;
        background-color: #e0f3e1;
        /* Cor de fundo do body */
        margin: 0;
        /* Remove margens padrão */
        font-family: Arial, sans-serif;
        /* Define a família de fontes padrão */
    }

    /* css para header */
    .header {
        background-color: #fff;
        /* Cor de fundo do header */
        padding: 25px 0;
        /* Espaçamento interno do header */
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        /* Sombra do header */
    }

    /* css para o container */
    .container {
        width: 80%;
        /* Largura do container */
        margin: auto;
        /* Centraliza o container na página */
        display: flex;
        /* Define um layout flexível */
        justify-content: space-between;
        /* Alinha os itens do container */
        align-items: center;
        /* Alinha os itens verticalmente */
    }

    /* css para o título */
    .titulo {
        color: #2C591A;
        /* Cor do texto */
        font-weight: bold;
        /* Define a espessura da fonte como negrito */
        font-size: 24px;
        /* Tamanho da fonte */
        margin: 0;
        /* Remove margens */
    }

    /* css para a barra de navegação */
    .navbar {
        display: flex;
        /* Define um layout flexível */
        list-style: none;
        /* Remove os marcadores de lista */
        margin: 0;
        /* Remove margens */
        padding: 0;
        /* Remove preenchimento */
    }

    /* css para os itens da barra de navegação */
    .navbar li {
        margin-right: 20px;
        /* Espaçamento entre os itens */
        font-size: 16px;
        /* Tamanho da fonte */
        color: #032b0d;
        /* Cor do texto */
    }

    /* css para os links da barra de navegação */
    .navbar a {
        text-decoration: none;
        /* Remove a decoração do link */
        color: #032b0d;
        /* Cor do texto */
        transition: color 0.3s;
        /* Transição suave da cor do texto */
    }

    /* css para os links da navbar quando em hover */
    .navbar a:hover {
        color: #1ba157;
        /* Cor do texto ao passar o mouse */
    }

    /* css para section da equipe */
    .team-section {
        text-align: center;
        /* Alinha o texto ao centro */
        padding: 20px;
        /* Espaçamento interno */
    }

    /* css para o texto da section da equipe */
    .team-text {
        margin-bottom: 20px;
        /* Espaçamento inferior */
    }


    .button1 {
        background-color: rgb(36, 99, 27);
        /* Cor de fundo do botão 1 */
        padding: 5px 5px;
        /* Espaçamento interno do botão 1 */
        color: white;
        border-radius: 5px;

    }

    .button1 a:hover {
        color: #81bb9b;
        /* Cor do texto ao passar o mouse */
    }

    .button2 {
        padding: 5px 5px;
        /* Espaçamento interno do botão 2 */
        color: #035020;
        border-radius: 5px;

    }

    .button2 a:hover {
        color: #81bb9b;
        /* Cor do texto ao passar o mouse */
    }

    /* css para o card da equipe */
    .card {
        display: inline-block;
        /* Exibe os card em linha */
        width: 15%;
        height: 20%;
        /* Altura do card */
        padding: 10px;
        /* Espaçamento interno */
        margin: 10px;
        /* Espaçamento externo */
        border: 1px solid #1ba157;
        /* Borda sólida */
        border-radius: 5px;
        /* Raio da borda */
        background-color: #fff;
        /* Cor de fundo */
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        /* Sombra do card */
    }

    /* css para o título do card */
    .card h2 {
        margin: 10px 0;
        /* Espaçamento do título */
        font-size: 18px;
        /* Tamanho da fonte do título */
        color: #011404;
        /* Cor do texto */
    }

    /* css para o texto do card */
    .card p {
        margin: 5px 0;
        /* Espaçamento do texto */
        color: #111111;
        /* Cor do texto */
        font-size: 14px;
        /* Tamanho da fonte do texto */
    }

    /* css para a imagem do membro da equipe */
    .member-img {
        width: 80px;
        /* Largura da imagem */
        height: 80px;
        /* Altura da imagem */
        border-radius: 50%;
        /* Borda arredondada */
        object-fit: cover;
        /* Ajuste da imagem */
        transition: transform 0.3s;
        /* Adiciona uma transição suave */
    }

    /* Quando o mouse passar por cima da imagem, ela aumentará de tamanho */
    .member-img:hover {
        transform: scale(1.2);
        /* Aumenta a escala da imagem */
    }

    /* css para os ícones das redes sociais */
    .social-icons {
        margin-top: 10px;
        /* Espaçamento superior */
    }

    .social-icons a:hover {
        color: #81bb9b;
        /* Cor do texto ao passar o mouse */
    }

    /* css para os links das redes sociais*/
    .social-icons a {
        color: #1ba157;
        /* Cor dos ícones */
        margin-right: 10px;
        /* Espaçamento direito */
        font-size: 20px;
        /* Tamanho da fonte */
        text-decoration: none;
        /* Remove a decoração do link */
    }

    /* css para a seção de contato */
    .contact-section {
        background-color: rgb(36, 99, 27);
        /* Cor de fundo */
        display: flex;
        /* Define um layout flexível */
        color: #fff;
        /* Cor do texto */
        text-align: center;
        /* Alinha o texto ao centro */
        justify-content: center;
        /* Justifica o conteúdo */
        padding: 50px;
        /* Espaçamento interno */
        position: relative;
        /* Posição relativa */
    }

    /* css para o texto da seção de contato */
    .contact-section p {
        margin: 5px 0;
        /* Espaçamento do texto */
        font-size: 16px;
        /* Tamanho da fonte */
    }

    /* css para o container de contato */
    .contato {
        position: absolute;
        /* Posição absoluta */
        top: 10px;
        /* Distância do topo */
        right: 10px;
        /* Distância da direita */
    }

    /* css para os ícones de contato */
    .contact-icons {
        position: absolute;
        /* Posição absoluta */
        top: 25px;
        /* Distância do topo */
        right: 25px;
        /* Distância da direita */
        align-content: flex-end;
        /* Alinha os ícones no final */
    }

    /* css para os links de ícones de contato */
    .contact-icons a {
        color: #fff;
        /* Cor dos ícones */
        margin-right: 20px;
        /* Espaçamento direito */
        font-size: 24px;
        /* Tamanho da fonte */
        text-decoration: none;
        /* Remove a decoração do link */
        justify-content: flex-end;
        /* Justifica o conteúdo para a direita */
    }

    /* css para o container de opções */
    .options-container {
        display: flex;
        /* Define um layout flexível */
        justify-content: space-between;
        /* Espaço entre as opções */
        margin-bottom: 20px;
        /* Espaçamento inferior */
        align-items: flex-start;
        /* Alinha os itens verticalmente */
    }

    /* css para a primeira opção */
    .options1 {
        flex: 1;
        /* Cresce e encolhe de acordo com o espaço disponível */
        text-align: left;
        /* Alinha o texto à esquerda */
    }

    /* css para a segunda opção */
    .options2 {
        flex: 1;
        /* Cresce e encolhe de acordo com o espaço disponível */
        text-align: center;
        /* Alinha o texto ao centro */
    }

    /* css para a terceira opção */
    .options3 {
        flex: 1;
        /* Cresce e encolhe de acordo com o espaço disponível */
        justify-content: flex-end;
        /* Justifica o conteúdo para a direita */
        text-align: right;
        /* Alinha o texto à direita */
        padding: 50px;
        /* Espaçamento interno */
    }

    /* styles para as opções */
    .options p {
        margin: 0;
        /* Remove margens */
        padding: 5px 0;
        /* Espaçamento interno */
    }