@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins';
}

body {
  margin: 0;
  background-color: #003329;
  min-height: 100vh;
}

/* Logo e detalhes da NavBar*/
header {
  position: fixed;
    width:100%; 
    height: 70px;
    padding:30px 100px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    z-index: 100; 
    background-color: white;
}

header img {
  box-sizing: border-box;
  top: 20px;
  border-radius: 100%;
  width: 50px;
  height: 50px;
  margin-top: 20px;
  margin-bottom: 10px;
  margin-right: 270px;
  pointer-events: none;
}

nav a {
  text-decoration: none;
  color: #1a4840;
  padding: 6px 15px;
  margin: 0 10px;
  font-weight: 600;
  cursor: pointer;
}

nav a:hover {
  border-bottom: 2px solid #359381;
  width: 100%;
  left: 0;
}
/* fim css para header */



.h1 {
    color: white;
    font-weight: bold;
    font-size: 26px;
    margin: 0;
}
.team-text p{
    color: white;
    width: 50%;
}
.team-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding-top: 150px;
    text-align: justify;

}

/* css para section da equipe */
.team-section {
    display: inline-block; /* inline-block para centralizar horizontalmente */
    text-align: center;
    justify-content: center;
    margin: 100px auto; /* Centraliza o texto e adiciona margem superior e inferior */
}

.top-cards {
    display: flex;
    justify-content: center;
  
    /* width: 1480px; */
}

.bottom-cards {
    display: flex;
    justify-content: center;
    height: 70vh;
}

.card {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 340px;
    height: 380px;
    border: 2px solid #ffffff60;
    border-radius: 12px;
    background-color: #ffffff40;
    margin: 30px;
}

.card:hover {
    background-color: #00000072;
    transition: all 0.3s;
}

/* css para a imagem do membro da equipe */
.member-img {
    width: 125px;
    height: 125px;
    border-radius: 50%;
    object-fit: cover; /* Ajuste da imagem */
}

.card h2 {
    margin: 10px; /* Espaçamento do texto */
    font-size: 20px;
    color: white;
}


/* css para o cargo do individuo */
.card p {
    margin: 5px 0;
    color: white;
    font-size: 15px;
    
}

.social-icons {
     margin-top: 50px; /* Espaçamento superior */
}

/* css para os links das redes sociais*/
.social-icons a {
 color: white;
    margin-right: 10px; /* Espaçamento direito */
    font-size: 20px;
    text-decoration: none; /* Remove a decoração do link */
}


/* Aqui começa o Footer (Rodapé) */
footer {
    background-color: white;
    color: black;
    width: 100%;
    height: 350px;
    padding: 40px;
    display: flex;
  }
  
  footer p{
    width: 375px; 
  }
  
  /* Detalhes da parte esquerda do Footer */
  .column1 {
    margin-left: 10px;
    width: 440px;
    border-right: solid;
  }
  
  .column1 h2{
    display: flex;
    align-items: center;
    font-size: 27px;
  }
  
  .column1 img{
    border-radius: 100%;
    margin-right: 3px;
    height: 50px;
    width: 50px;
  }
  
  /* Detalhes da parte central do Footer */
  .column2{
    width: 302px;
    border-right: solid;
    margin-left: 20px;
    flex-direction: column;
    display: flex;
  }
  
  .column2 h2{
    margin-left: 20px;
  }
  
  .column2 a{
    margin-left: 20px;
    text-decoration:none;
    color: black;
    margin-bottom: 5px;
  }
  
  /* Detalhes da parte direita do Footer */
  .column3{
    margin-left: 10px;
    width: 440px;
    display: flex;
  }
  
  .column3 h2{
    margin-left: 10px;
  }
  
  .column3 p{
    display: flex;
    align-items: center;
    margin-left: 10px;
    width: 330px;
  }
  
  .column3 a{
    text-decoration:none;
    margin-left: 10px;
    color: black;
  }
  
  /* Mapa do Endereço */
  iframe{
    border-radius: 20px;
    margin: 10px;
  }
  
  
  /* Tamanho dos ícones (facebook, instagram, twitter, linkedin) */
  .logos .icone1{
    filter:invert();
    height: 34px;
    width: 34px;
  }
  .logos .icone2{
    filter:invert();
    height: 32px;
    width: 32px;
  }
  .logos .icone3{
    filter:invert();
    height: 33px;
    width: 32px;
  }   
  .logos .icone4{
    filter:invert();
    height: 32px;
    width: 32px;
  }
  
  /* Ícones localização, telefone e email */
  .icone5{
    filter:invert();
    height: 29px;
    width: 29px;
  }
  .icone6{
    filter:invert();
    height: 29px;
    width: 29px;
  }
  .icone7{
    filter:invert();
    height: 32px;
    width: 32px;
  }
  
  /* Animação dos ícones Footer*/
  .logos .icone1:hover {
    transform: translateY(-5px);
    transition: all 0.4s;
  }
  .logos .icone2:hover {
    transform: translateY(-5px);
    transition: all 0.4s;
  }
  .logos .icone3:hover {
    transform: translateY(-5px);
    transition: all 0.4s;
  }
  .logos .icone4:hover {
    transform: translateY(-5px);
    transition: all 0.4s;
  } 
  .logos2 .icone5:hover {
    transform: translateY(-5px);
    transition: all 0.4s;
  } 
  .logos2 .icone6:hover {
    transform: translateY(-5px);
    transition: all 0.4s;
  } 
  .logos2 .icone7:hover {
    transform: translateY(-5px);
    transition: all 0.4s;
  } 
  
  /* Animação do menu */
  .column2 a:hover{
    transform: translateX(5px);
    transition: all 0.4s;
    
  } 