@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins';
}



/* css para body  */
  body {
    background-color: white;
    min-height: 100vh;
    margin: 0;
}

/* css para header */
header {
    position: absolute;
    padding: 23px;   /* Espaçamento interno do header */
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 37px;
    margin-top: 7px;
}

header img{
    top: 20px;
    border-radius: 100%;
    width: 60px;
    height: 60px;
    margin-right: 270px;
    margin-left: 40px;
}

/* css para os links da barra de navegação */
.navbar a {
    text-decoration: none;   /* Remove a decoração do link */
    color: #359381;
    padding: 6px 15px;
    margin: 0 10px;
    font-weight: 600;
    cursor: pointer;
}

.navbar a:hover {
    border-bottom: 2px solid #359381;
    width: 100%;
    left: 0;
}

.h1 {
    color:  #1c3612;
    font-weight: bold;
    font-size: 26px;
    margin: 0;
}

/* css para section da equipe */
.team-section {
    display: inline-block;   /* inline-block para centralizar horizontalmente */
    text-align: center;
    width: 100%;
    margin: 100px auto;  /* Centraliza o texto e adiciona margem superior e inferior */
    padding: 250px;   /* aproxima ou afasta os cards do texto*/
}

/* css para o texto da section da equipe */
.team-text {
    text-align: center;
    padding: 180px;           /* Espaçamento interno */
}

.top-cards{
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 40px;
}

.bottom-cards{
    display: flex;
    justify-content: space-evenly;
    padding-top: 40px;
}

/* css para o card da equipe */
.card {
    width: 340px;
    height: 340px;
    position: relative;
    left: 0px;
    border: 2px solid #548D3D;
    border-radius: 10px;
    margin: 0px;
    padding-top: 40px;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);   /* Sombra do card */
}

/* css para o título do card, os nomes */
.card h2 {
    margin: 10px 0;     /* Espaçamento do texto */
    font-size: 18px;
    color: #011404;

}

/* css para o cargo do individuo */
.card p {
    margin: 5px 0;
    color: #111111;
    font-size: 14px;
}

/* css para a imagem do membro da equipe */
.member-img {
    width: 95px;
    height: 95px;
    border-radius: 50%;
    object-fit: cover;     /* Ajuste da imagem */
    transition: transform 0.3s;    /* Adiciona uma transição suave */
}

/* Quando o mouse passar por cima da foto, ela aumentará de tamanho */
.member-img:hover {
    transform: scale(1.2);    /* Aumenta a escala da imagem */
}

/* css para os ícones das redes sociais */
.social-icons {
    margin-top: 10px;     /* Espaçamento superior */
}

.social-icons a:hover {
    color: #97d3b2;      /* Cor do texto ao passar o mouse */
}

/* css para os links das redes sociais*/
.social-icons a {
    color: #1ba157;
    margin-right: 10px;        /* Espaçamento direito */
    font-size: 20px;
    text-decoration: none;      /* Remove a decoração do link */
}


.footer {
    background-color: #003329; 
    color: white;
    padding: 10px 0;
  
    margin-top: 20px;
    
  }
  
  .container {
    display: flex;  
    /* flex-wrap: wrap; */
    justify-content: space-evenly;
   
  }
  
  .cardList {
    width: 200px;
    margin: 0 20px;
  }
  
  .cardList h3 {
    font-size: 20px;
  }
  
  .cardList ul {
    list-style: none;
    line-height: 1.5;
    padding: 0;
  }
  
  .cardList ul li {
    margin-bottom: 5px;
    
  }
  
  .cardList a {
    color: white;
    text-decoration: none;
    transition: color 0.3s ease;
  }
  .cardList a:hover{
    color: goldenrod;
  }
  
  .cardFooter {
    text-align: left;
    margin-top: 30px;
    margin: 0 80px;
  }
  .atendimento{
    margin: 0 128px;
  }
  
  .cardFooter h2 {
    margin: 0;
    font-size: 24px;
    font-weight: bold;
  }
  .spanFooter{
    margin-left: 800px;
    font-size: 18px;
  }
  .spanFooter a {
    color: white;
    text-decoration: none;
    transition: color 0.3s ease;
  }
  .spanFooter a:hover{
    color: goldenrod;
  }
  
  .nameEmpresa{
    font-size: 24px;
    font-weight: bold;
  }