
*{
  margin: 0;
  /* overflow: hidden; */
}
.header-left{
  top: 0;
  background-color: #0e8549;
  width: 18%;
  height: 100vh;
  position: absolute;
}

/* pagina graficos */


.dash {
  display: grid;
  align-items: center;
  width: 80%;
  position: absolute;
  left: 20%;
  height: 100vh;
}

.div_KPIs{
  display: flex;
  justify-content: space-around;
  align-items: center;
  
}
.div_KPI{
  margin-top: 50px;
  width: 250px;
  height: 200px;
  border-radius: 10px;
  background-color: #8df5e254;
  
}
.div_KPI:hover{
  scale: 105%;
  border-radius: 10px;
  transition: all 0.2s;
}

.div_graficos{
  position: relative;
    display: flex;
    justify-content: space-evenly;
  }

.grafico{ 
  width: 550px;
  height: 350px;
  background-color: #8df5e254;
  border-radius: 10px;

}
.grafico:hover{
  scale: 105%;
  border-radius: 10px;
  transition: all 0.2s;
}
#grafico1{
  position: absolute;
  z-index: 1;}
#grafico2{
  position: absolute;
  z-index: 1;}
