@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Poetsen+One&display=swap');

*{
  font-family: 'Poppins';
  margin: 0;
  overflow: hidden;
  text-decoration: none;
}

.menu{
  top: 0;
 background-color: #f6f6f6;
 width: 18%;
 height: 100vh;
 position: absolute;
}

.menu h1{
 color: #646464;
 padding-top: 20px;
 padding-bottom: 2px;
 margin: 35px;
}

.separacao{
background-color: #8E8E8E;
height: 1.5px;
width: 200px;
margin-left: 30px;
margin-bottom: 30px;
margin-top: 9px;
}

#menu-separacao{
  margin-left: 30px;
  color: #8E8E8E;
  font-size: small;
  font-weight: 100;
}
.flexNavBar{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 10px;

}
.outrasPaginas{
  width: 200px;
  text-decoration: none;
  font-weight:520 ;
  font-size: 16px;
  color: #646464;
  cursor: pointer;
}
.outrasPaginas:hover{
  color: #3a3838;
  font-weight:530 ;
  transition: all 0.3s;

}

.btn-navbar img{
  height: 20px;
  width: 20px;
  margin-right: 10px;
}

.hello{
  display: flex;
  flex-direction: column;
  margin-left: 25%;
  margin-bottom: 10px;

}


.btn-logout{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #0f7826;
  border-radius: 15px;
  width: 80px;
  height: 30px;
  outline: none;
  text-decoration: none;
  color: #ffffff;
  font-size: 14px;
  font-weight: 500;
}
.btn-logout a:hover{
 background-color: #168f30;
 transition: all 0.5s;
}
#img-foto{
 height: 90px;
 width: 90px;
  position: relative;
  margin-left: 80px;
 
}
.hello{
  margin-left: 70px;
  margin-top: 17px;
  color: #ABABAB;
}
/* pagina graficos */
.dash {
  width: 80%;
  left: 20%;
  height: 100vh;
  position: absolute;
}
.tituloDash{
  display: flex;
  justify-content: center;
  margin: 10px;
}
.div_graficos{
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 20px;
  gap: 15px;
  width: 100%;
}
.div_grafico{ 
display: flex;
align-items: center;
justify-content: center;
flex-direction: column;
font-size: 17px;
width: 500px;
height: 325px;
background-color: #e7e5e5;
border-radius: 10px;
}
.section_KPIs{
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 1px;
  margin-top: 60px;
}
.div_KPIs{
  display: flex;
  margin: 0;
  align-items: center;
  flex-direction: column;
  
}
.div_KPI{
  margin-top: 20px;
  width: 300px;
  height: 150px;
  border-radius: 10px;
  background-color: #e7e5e5;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.div_KPI1content{
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 300px;
  height: 150px;
}
.spanTitulo1{
  text-align: center  ;
  height: 100px;
  margin-top: 10px;
  font-size: 18px;
  /* margin-bottom: 15px; */
}
.spanPorcentagemKPI1{
  position: relative;
  font-family: 'Poetsen One';
  font-size: 30px;
  left: 7px;
  color: red;
}
.divTextoKPI2{
  font-size: 18px;
  color: red;
}
.div_KPI2content{
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 300px;
  height: 150px;
}
.spanTitulo2{
  text-align: center  ;
  height: 50px;
  margin-top: 10px;
  font-size: 18px;

}
.spanPorcentagemKPI2{
  position: relative;
  font-family: 'Poetsen One';
  font-size: 30px;
  left: 7px;
  color: red;
}
.divTextoKPI2{
  font-size: 18px;
  color: red;
}
.div_KPI3content{
  display: flex;
  flex-direction: column;
  margin-left: 50px;
  width: 300px;
  height: 150px;
}
.spanTitulo3{
  text-align: center  ;
  height: 50px;
  margin-top: 10px;
  font-size: 18px;
  /* margin-bottom: 15px; */
}
.divTextoKPI3 span{
font-family: 'Poetsen One';
font-size: 30px;
color: #548D3D;
}
.divTextoKPI3{
  font-size: 18px;
  display: flex;
  align-items: center;
}
.divTextoKPI3 img{
  width: 90px;
  height: 90px;
}

.div_KPI4content{
  display: flex;
  flex-direction: column;
  margin-left: 50px;
  width: 300px;
  height: 150px;
}
.spanTitulo4{
  text-align: center  ;
  height: 50px;
  margin-top: 10px;
  font-size: 18px;
  /* margin-bottom: 15px; */
}
.divTextoKPI4 span{
font-family: 'Poetsen One';
font-size: 30px;
color: #548D3D;
}
.divTextoKPI4{
  font-size: 18px;
  display: flex;
  align-items: center;
}
.divTextoKPI4 img{
  width: 80px;
  height: 80px;
  margin-right: 10px;
}
.div_filtro{
  overflow-y: auto;
  width: 300px;
  height: 82vh;
  border-radius: 0px 0px 10px 10px;
  background-color: #e7e5e5;
  position: relative;
  left: 73%;
  bottom:87%;
}
/*  SEARCH  */
.search {
  left: 73%;
  bottom:87%;
  position: relative;
  position: relative;
  display: flex;
  align-items: center; 
}
.search__input {
  
  width: 300px;
  background-color: #548D3D;
  height: 40px;
  border: black;
  border-radius: 10px 10px 0 0;
  font-size: 1.2rem;
  padding-left: 2.5%;
  font-family: inherit;
  color: #e7e5e5;
  outline: 0; 
  clear: both;
  }
.search__input::placeholder { 
  color: #e7e5e5;   
}  
.search__icon {
  width: 20px;
  height: 20px;
  font-size: 0.7rem;
  padding: 0 0.4rem;
  display: flex;
  transition: .3s ease;
  position: fixed;
  margin: 0;
}
/* Para mudar a cor de fundo do botão */
input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
  appearance: none;
  height: 20px;
  width: 20px;
  background-color: #FFFFFF;
  border-radius: 5px;
  position: relative;
  right: 20px;
}
input[type="search"]::-webkit-search-cancel-button:after {
  content: "\274c";
  font-size: 50px; 
  color: #FFF;
  line-height: 100px;
  text-align: center;
}

.li_habitat{
  margin-top: 10px;
  width: 100%;
  height: 30px;
  text-decoration: none;
  color: #0f7826;
  cursor: pointer;
  
}

.alistaHabitats{
  text-decoration: none;
  color: #0f7826;
}
.KPIhabi{
  margin-top: 20px;
  width: 300px;
  height: 150px;
  border-radius: 10px;
  background-color: #e7e5e5;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.special {
  color: red;
}
.meuPopup{
  display: none;
  background-color: #ABABAB;
  width: 400px;
  height: 100px;
  position: absolute;
  z-index: 1000;
  right: 50px;
  top: 500px;
  padding: 20px;
  background-color: #70b447be;
  box-shadow: 2px 5px 15px rgba(0, 0, 0, 0.5);
  border: 2px solid black;
}



/* O botão de fechar (x)
.close-popup {
  color: #000000;
  font-size: 28px;
  font-weight: bold;
  position: relative;
  bottom: 1rem;
  cursor: pointer;
}
#popupLink{
  z-index: 10;
  position: relative;
  left: 10rem;
  top: 12rem;
  cursor: pointer;
} */
