*{
  margin: 0;
  overflow: hidden;
}

.menu{
 background-color: #f6f6f6;
 height: 100vh;
 width: 18%;
}

.menu h1{
 color: #646464;
 padding-top: 20px;
 padding-bottom: 2px;
 margin: 35px;
}
.separacao{
background-color: #8E8E8E;
height: 1.5px;
width: 200px;
margin-left: 30px;
margin-bottom: 30px;
margin-top: 9px;
}

#menu-separacao{
  margin-left: 30px;
  color: #8E8E8E;
  font-size: small;
  font-weight: 100;
}

.btn-navbar a{
  display: flex;
  margin-left: 35px;
  margin-bottom: 7px;
  text-decoration: none;
  font-weight:520 ;
  font-size: 16px;
  color: #646464;
  
}

.btn-navbar a:hover{
  color: #3a3838;
  font-weight:530 ;
  transition: all 0.3s;

}

.btn-navbar img{
  height: 20px;
  width: 20px;
  margin-right: 10px;
}

.hello{
  display: flex;
  flex-direction: column;
  margin-left: 25%;
  margin-bottom: 10px;

}

.btn-logout{
  background-color: #0f7826;
  margin: 20px;
  margin-left: 85px;
  margin-right: 85px;
  padding: 7px;
  border-radius: 15px;
}

.btn-logout a{
  outline: none;
  text-decoration: none;
  color: #cfcbcb;
  font-size: 14px;
  margin-left: 15px;
 font-weight: 500;
  
}


.btn-logout:hover{
 background-color: #168f30;
 transition: all 0.5s;
}

.menu #img-foto{
 height: 90px;
 width: 90px;
 border-radius: 50%;
 object-fit: cover;
 background: #d6d6d6;
 margin-left: 80px;
}

.hello{
  margin-left: 70px;
  margin-top: 17px;
  color: #ABABAB;
}
