@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins';
    
}
body{
    min-height: 100vh;
    overflow-x: hidden;  
}
header{
    position: absolute;
    width:80%; 
    height: 60px;
    padding:30px 100px;
    display: flex;
    align-items: center; 
    z-index: 100;  
    transition: background-color 0.3s ease;
}
header a{
  width: 50px;
  margin-right: 215px;
}

header img{
  box-sizing: border-box;
  top: 20px;
  border-radius: 100%;
  width: 50px;
  height: 50px;
  margin-top: 20px;
  margin-right: 270px;
  pointer-events: none;
}


nav a{
 
  text-decoration: none;
  color: #359381;
  padding: 6px 15px;
  margin: 0 10px;
  font-weight: 600;
  cursor: pointer;
}
nav a:hover{
  border-bottom: 2px solid #359381;
  width: 100%;
  left: 0;

}


.parallax{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    z-index: -1;
}
#text{
    position: absolute;
    font-size: 65px;
    color: white;
    text-shadow: 2px 2px 4px rgb(0, 0, 0, .2);
}
.parallax img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    pointer-events: none;
}
.section_inicial{
    position: relative;
    height: 90vh;
    color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #003329;
    flex-direction: column;
   font-family: 'Poppins';
}

.div_texto_inicial {
    display: flex;
    color: white;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: justify;
    height: 400px;
    width: 45%;
}
/* estilização do botão da tela inicial*/
.div_button{
	line-height: 40px;
	height: 40px;
	text-align: center;
	width: 238px;
	cursor: pointer; /*deixa o cursor em formato de click */
}
.button {
	color: #FFF;
	transition: all 0.5s; /*Deixa a animação mais fluida*/
	position: relative;
}
.button::before /*O before define os estilos do elemento imaginário antes do conteúdo real*/{
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 238px;
	height: 40px;
  border-radius: 20px;
  z-index: 1; /*define em que camada o elemento vai estar, tendo o maior numero sendo mostrado em cima */
	background-color: rgba(255,255,255,0.1);
	transition: all 0.3s; /*Deixa a animação mais fluida*/
}
.button:hover::before {
	opacity: 0 ; /*muda a trasparencia do elemento */
	transform: scale(0.5,0.5); /*transforma a imagem, nesse caso a escala do elemento*/
}
.button::after /*O after adiciona um elemento imaginario depois do conteúdo real do botão.*/{
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 238px;
	height: 40px;
  border-radius: 20px;
	z-index: 1;
	opacity: 0; /*muda a trasparencia do elemento */
	transition: all 0.3s; /*Deixa a animação mais fluida*/
	border: 1px solid rgba(255,255,255,0.5);
	transform: scale(1.2,1.2); /*transforma a imagem, nesse caso a escala do elemento*/
}
.button:hover::after {
	opacity: 1; /*muda a trasparencia do elemento */
	transform: scale(1,1); /*transforma a imagem, nesse caso a escala do elemento*/
}


/**/
.section_porque_escolher {
    color: #FFFFFF;
    height: 120vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #003329;

}
.div_Titulo_porque{
  position: relative;
  top: 70px;
}
.div_Titulo_porque h1{
    display: flex;
    justify-content: center;
  font-size: 40px;
}
.div_Titulo_porque p{
    display: flex;
    justify-content: center;
    font-size: 20px;

}


.div_imgs {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 10px;
    scale: 60%; /*muda a escala do elemento, 100% é o tamanho original*/
}

/*seção dos planos*/
.section_planos{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 600px;
    color: rgb(255, 255, 255);
    padding:30px 100px;
    z-index: 1;
    background-color: #003329;
}
.div_titulo_planos{
    font-size: 35px;
   margin-bottom: 30px;  
   z-index: 1;
   color: #0000;
}
.card__header {
  padding: 16px 16px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  justify-content: space-between;
  align-items: center;

}
.card__header h5 {
  margin: 0;
}
.tag {
    display: flex;
    align-items: center;
  padding: 4px 16px;
  background-color: #2C591A;
  color: #f7f7f7;
  border-radius: 8px;
  height: 14px;
  font-size: 9px;
}

.card__header-primary {
  background-color: #de8b0daa;
  color: #0000;
}

.content-cards {
  width: 80%;
  margin: 0px auto;
  justify-content: space-between;
  align-content: flex-end;
  transition: all 1s linear; /*Deixa a animação mais fluida*/
  z-index: 1;
}

.card {
  background-color: rgba(255, 255, 255, 0.532);
  color: #000000;
  border-radius: 8px;
  max-width: 300px;
  box-shadow: 0px 0px 3px #548D3D;
  margin: 0 16px;
  transition: all 1s linear; /*Deixa a animação mais fluida*/
  height: 400px;
}
.card__container {
  padding: 16px;
}
.card-description {
  font-size: 14px;
  font-weight: bolder;
  border-bottom: #2C591A 1px solid;
  padding-bottom: 16px;
  color: #000000;

}
.card_price {
  color: #2C591A;
}
.card_price span {
  font-size: 12px;
  font-weight: normal;
  color: #000000;
}
.list {
  color: black;
  text-decoration: none;
  list-style-type: none;
  margin-left: 20px;
  padding: 0;
  position: relative;
}
.list_item {
  margin-bottom: 24px;
  position: relative;
}
.list_item::before {
  content: "";
  width: 12px;
  height: 12px;
  /*background-color: #f7f;*/
  position: absolute;

  text-decoration: none;
  background-image: url('/IMG/Home_fundo/check.png');
  background-repeat: no-repeat;
  background-size: 12px 12px;
}
/* .::. Flex box .::.*/
.flex {
  display: flex;
}
.flex1 {
  flex: 1;
}
.align-self-flex-end {
  align-self: flex-end;
}
.row {
  flex-direction: row;
}
.column {
  flex-direction: column;
}
/* .::. ESPAÇAMENTOS .::. */
.p-md {
  padding: 16px;
}
.p-lg {
  padding: 24px;
}
.button_plano {
  padding: 8px 16px;
  border: 1px solid #2C591A;
  border-radius: 8px;
  text-transform: uppercase;
  color: #FFFFFF;
  width: 100%;
  background-color: #2C591A;
  cursor: pointer;
}
.button_plano:hover {
  background-color: #005db5;
}

.button_plano {
  background-color: transparent;
  color: #2C591A;
}
.button_plano:hover {
  background-color: #9EE482;
}
.img_escama {
    box-sizing: border-box;
    position: absolute;
    width: 650px;
    height: 650px;
    right: 150px;
    
}
/**/
.section_perguntas_frequentes {
    position: relative;
    /* min-height: 400px; */
    height: 646px;
    font-family: Verdana, sans-serif;
    z-index: 1;
    background-color: #003329;
  }

/*titulo da seção*/
.titlePerguntas{
    color: white;
    display: flex;
    justify-content: center;
    padding: 10px 20px;
    font-size: 35px;
}

/*div o posicionar os cards da perguntas*/
.cardsPerguntas {
    width: 100%;
    height: 600px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;

}

/*div onde está contida a div text e name das perguntas*/
.cardPerguntas {
    width: 300px;
    height: 400px;
    position: relative;
    left: 0px;
    border: 2px solid #548D3D;
    border-radius: 5px;
    padding-top: 50px;
    z-index: 1;
    
}

.cardPerguntas:not(:first-child) {
    margin-left: -50px;
}

.cardPerguntas:hover {
    transform: translateY(-20px);
}

.cardPerguntas:hover~.card {
    left: 50px;
}

/*contem os textos das perguntas*/
.text_pergunta {
    display: flex;
    align-items: center;
    padding: 10px;
    font-size: 15px;
    color: #FFFFFF;
}

/*comtem o nome da pergunta*/
.name_pergunta {
    text-align: center;
    color: #FFFFFF;
    font-weight: bold;
    font-size: 30px;
}
/*criando a seta*/
.setaBorda{
  
  position: relative;
  left: 95%;
  bottom: 15%;
  width: 50px;
  height: 50px;
  border: 3px white solid ;
  border-radius: 50px;
}
.seta {
	border: solid white;
	border-width: 0 3px 3px 0;
	display: inline-block;
	padding: 3px;
	width: 20px;
	height: 20px;
  transform: rotate(225deg);
  position: relative;
  top: 38%;
  left: 30%;

}


/* Aqui começa o Footer (Rodapé) */
footer {
  background-color: #548D3D;
  color: white;
  width: 100%;
  height: 350px;
  padding: 40px;
  display: flex;
}

footer p {
  width: 375px;
}

/* Detalhes da parte esquerda do Footer */
.column1 {
  margin-left: 10px;
  width: 400px;
  border-right: solid;
}

.column1 img {
  border-radius: 100%;
  margin-right: 3px;
  height: 50px;
  width: 50px;
}

.column1 h2 {
  display: flex;
  align-items: center;
  font-size: 27px;
  margin-top: 20px;  
}

.column1 p{
  margin-top: 20px; 
}

.column1 .logos{
  margin-top: 20px; 
}


/* Detalhes da parte central do Footer */
.column2 {
  width: 302px;
  border-right: solid;
  margin-left: 20px;
  flex-direction: column;
  display: flex;
}

.column2 h2 {
  /* margin-left: 20px; */
  margin: 20px;
}

.column2 a {
  margin-left: 20px;
  text-decoration: none;
  color: white;
  margin-bottom: 5px;
}

/* Detalhes da parte direita do Footer */
.column3 {
  margin-left: 10px;
  width: 440px;
  display: flex;
}

.column3 h2 {
  margin: 20px;
}

.column3 p {
  display: flex;
  align-items: center;
  margin-left: 10px;
  width: 330px;
  margin: 16px;
}

.column3 a {
  text-decoration: none;
  margin-left: 10px;
  color: white;
}

/* Mapa do Endereço */
iframe {
  border-radius: 20px;
  margin: 10px;
}


/* Tamanho dos ícones (facebook, instagram, twitter, linkedin) */
.logos .icone1 {
  height: 34px;
  width: 34px;
}

.logos .icone2 {
  height: 32px;
  width: 32px;
}

.logos .icone3 {
  height: 33px;
  width: 32px;
}

.logos .icone4 {
  height: 32px;
  width: 32px;
}

/* Ícones localização, telefone e email */
.icone5 {
  height: 29px;
  width: 29px;
}

.icone6 {
  height: 29px;
  width: 29px;
}

.icone7 {
  height: 32px;
  width: 32px;
}

/* Animação dos ícones */
.logos .icone1:hover {
  transform: translateY(-5px);
  transition: all 0.4s; /*Deixa a animação mais fluida*/
}

.logos .icone2:hover {
  transform: translateY(-5px);
  transition: all 0.4s; /*Deixa a animação mais fluida*/
}

.logos .icone3:hover {
  transform: translateY(-5px);
  transition: all 0.4s; /*Deixa a animação mais fluida*/
}

.logos .icone4:hover {
  transform: translateY(-5px);
  transition: all 0.4s; /*Deixa a animação mais fluida*/
}

.logos2 .icone5:hover {
  transform: translateY(-5px);
  transition: all 0.4s; /*Deixa a animação mais fluida*/
}

.logos2 .icone6:hover {
  transform: translateY(-5px);
  transition: all 0.4s; /*Deixa a animação mais fluida*/
}

.logos2 .icone7:hover {
  transform: translateY(-5px);
  transition: all 0.4s; /*Deixa a animação mais fluida*/
}

/* Animação do menu */
.column2 a:hover {
  transform: translateX(5px); 
  transition: all 0.4s; /*Deixa a animação mais fluida*/
}