@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins';
}

body {
  margin: 0;
  background-color: #003329;
  min-height: 100vh;
}

/* Logo e detalhes da NavBar*/
header {
  position: fixed;
    width:100%; 
    height: 70px;
    padding:30px 100px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    z-index: 100; 
    background-color: white;
}

header img {
  box-sizing: border-box;
  top: 20px;
  border-radius: 100%;
  width: 50px;
  height: 50px;
  margin-top: 20px;
  margin-bottom: 10px;
  margin-right: 270px;
  pointer-events: none;
}

nav a {
  text-decoration: none;
  color: #1a4840;
  padding: 6px 15px;
  margin: 0 10px;
  font-weight: 600;
  cursor: pointer;
}

nav a:hover {
  border-bottom: 2px solid #359381;
  width: 100%;
  left: 0;
}


/* Texto e título "SOBRE NÓS" */
.aboutUs {
  color: white;
  padding: 200px;
  width: 900px;
}


/* Texto e título "NOSSA HISTÓRIA" */
.window2 {
  padding: 150px;
  text-align: justify;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 50px;
  color: white;
}

.window2 h1 {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
}

.window2 p {
  width: 700px;
}

.window3 h1 {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
  color: white;
}

.Subwindow3 {
  padding: 30px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row;
  margin-bottom: 50px;
  color: white;
}

.card {
  width: 300px;
  height: 500px;
  position: relative;
  left: 0px;
  border: 2px solid #548D3D;
  border-radius: 20px;
  padding: 30px;
}

.card img {
  width: 80px;
  height: 80px;
  margin-right: 15px;
}

.card:not(:first-child) {
  margin-left: -50px;
}

.card:hover {
  transform: translateY(-20px);
  transition: all 0.4s;
}

.Subwindow3:hover~.card {
  left: 50px;
}


/* Aqui começa o Footer (Rodapé) */
footer {
  background-color: white;
  color: black;
  width: 100%;
  height: 350px;
  padding: 40px;
  display: flex;
}

footer p{
  width: 375px; 
}

/* Detalhes da parte esquerda do Footer */
.column1 {
  margin-left: 10px;
  width: 440px;
  border-right: solid;
}

.column1 h2{
  display: flex;
  align-items: center;
  font-size: 27px;
}

.column1 img{
  border-radius: 100%;
  margin-right: 3px;
  height: 50px;
  width: 50px;
}

/* Detalhes da parte central do Footer */
.column2{
  width: 302px;
  border-right: solid;
  margin-left: 20px;
  flex-direction: column;
  display: flex;
}

.column2 h2{
  margin-left: 20px;
}

.column2 a{
  margin-left: 20px;
  text-decoration:none;
  color: black;
  margin-bottom: 5px;
}

/* Detalhes da parte direita do Footer */
.column3{
  margin-left: 10px;
  width: 440px;
  display: flex;
}

.column3 h2{
  margin-left: 10px;
}

.column3 p{
  display: flex;
  align-items: center;
  margin-left: 10px;
  width: 330px;
}

.column3 a{
  text-decoration:none;
  margin-left: 10px;
  color: black;
}

/* Mapa do Endereço */
iframe{
  border-radius: 20px;
  margin: 10px;
}


/* Tamanho dos ícones (facebook, instagram, twitter, linkedin) */
.logos .icone1{
  filter:invert();
  height: 34px;
  width: 34px;
}
.logos .icone2{
  filter:invert();
  height: 32px;
  width: 32px;
}
.logos .icone3{
  filter:invert();
  height: 33px;
  width: 32px;
}   
.logos .icone4{
  filter:invert();
  height: 32px;
  width: 32px;
}

/* Ícones localização, telefone e email */
.icone5{
  filter:invert();
  height: 29px;
  width: 29px;
}
.icone6{
  filter:invert();
  height: 29px;
  width: 29px;
}
.icone7{
  filter:invert();
  height: 32px;
  width: 32px;
}

/* Animação dos ícones Footer*/
.logos .icone1:hover {
  transform: translateY(-5px);
  transition: all 0.4s;
}
.logos .icone2:hover {
  transform: translateY(-5px);
  transition: all 0.4s;
}
.logos .icone3:hover {
  transform: translateY(-5px);
  transition: all 0.4s;
}
.logos .icone4:hover {
  transform: translateY(-5px);
  transition: all 0.4s;
} 
.logos2 .icone5:hover {
  transform: translateY(-5px);
  transition: all 0.4s;
} 
.logos2 .icone6:hover {
  transform: translateY(-5px);
  transition: all 0.4s;
} 
.logos2 .icone7:hover {
  transform: translateY(-5px);
  transition: all 0.4s;
} 

/* Animação do menu */
.column2 a:hover{
  transform: translateX(5px);
  transition: all 0.4s;
  
}