@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins';
}

body {
  background-color: white;
  min-height: 100vh;
}

/* LOGO E OPÇÕES DO NAVBAR*/
header {
  position: absolute;
  padding: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 37px;
  margin-top: 7px;
}

header img {
  top: 20px;
  border-radius: 100%;
  width: 60px;
  height: 60px;
  margin-right: 270px;
  margin-left: 40px;
}

nav a {
  text-decoration: none;
  color: #359381;
  padding: 6px 15px;
  margin: 0 10px;
  font-weight: 600;
  cursor: pointer;
}

nav a:hover {
  border-bottom: 2px solid #359381;
  width: 100%;
  left: 0;
}


/* TEXTO E TITULO "SOBRE NÓS" */
.aboutUs {
  padding: 200px;
  width: 900px;
}


/* TEXTO E TITULO "NOSSA HISTÓRIA" */

.window2 {
  padding: 150px;
  text-align:justify;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

}

.window2 h1 {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
}

.window2 p{
  width: 700px;
}